html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    height: 100%;
    background: #FFF;
    color: #333;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"],
input[type="time"], input[type="week"], input[type="number"],
input[type="email"], input[type="url"], input[type="search"],
input[type="tel"], input[type="color"], .uneditable-input {
    padding: 7px;
    font-size: 110%;
}

label {
    font-weight: bold;
}

/*******************************************************************************
 * CURTAIN A.K.A LOADER
 *******************************************************************************/

#curtain {
    height: 100%;
    background: #222;
    z-index: 99999;
}

    #curtain-img {
        padding-top: 150px;
    }

    #curtain img {
        display: block;
        margin: 0 auto;
    }


/*******************************************************************************
 * OUR CUSTOM NAVIGATION DESIGN
 *******************************************************************************/

.navbar-inner {
    border-bottom: 1px solid #4c5a68;

    background-image: linear-gradient(bottom, rgb(84,98,113) 5%, rgb(99,113,130) 53%);
    background-image: -o-linear-gradient(bottom, rgb(84,98,113) 5%, rgb(99,113,130) 53%);
    background-image: -moz-linear-gradient(bottom, rgb(84,98,113) 5%, rgb(99,113,130) 53%);
    background-image: -webkit-linear-gradient(bottom, rgb(84,98,113) 5%, rgb(99,113,130) 53%);
    background-image: -ms-linear-gradient(bottom, rgb(84,98,113) 5%, rgb(99,113,130) 53%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.05, rgb(84,98,113)),
        color-stop(0.53, rgb(99,113,130))
    );
}

.navbar .nav > li > a {
    color: #b5c9df;
    font-weight: bold;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: #4c5a68;
    border-right: 1px solid #6c7a88;
    border-left: 1px solid #3C4A58;
}

@media (max-width: 979px) {
    .nav-collapse .nav .active > a, .nav-collapse .nav .active > a:hover {
        border-bottom: 1px solid #6c7a88;
        border-top: 1px solid #3C4A58;
    }
}

.navbar .brand {
    padding: 6px 20px 7px;
}

/*******************************************************************************
 * CONTENT STRUCTURE
 *******************************************************************************/

#pageholder {
    margin-top: 50px;
}

/*******************************************************************************
 * SIGN UP
 *******************************************************************************/

#signup-terms {
    width: 530px;
    background: #e1f6bc;
    margin: -15px 0 -15px -15px;
    padding: 15px 15px 1px 15px;
    border-top: 2px solid #D1E6AC;
    border-bottom: 2px solid #D1E6AC;
}

#signup-terms h4 {
    padding-bottom: 10px;
}

/*******************************************************************************
 * LOG IN
 *******************************************************************************/
#login-dropdown {
    padding: 10px;
    min-width: 385px;
}

    #login-dropdown form {
        margin-bottom: 0;
    }

    .input-small {
        width: 135px;
    }
