<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>Teamstarter - {% block title %}Get your idea going{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/base.css" />
    <link href='http://fonts.googleapis.com/css?family=Acme' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {% endblock %}
</head>
<body>
<div id="header">
    {% block header %}
    <h1><a href="/">Teamstarter</a></h1>
    <ul>
        <li><a href="/discover">Discover</a></li>
        <li><a href="/create">Create</a></li>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/signin">Signin</a></li>
    </ul>
    {% endblock %}
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>
<div id="footer">
    {% block footer %}{% endblock %}
</div>
</body>
</html>
