<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<meta charset="utf-8" />
	<title>Teamstarter - {% block title %}Get your idea going{% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.min.css") }}">
	<link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap-responsive.min.css") }}">
	<link rel="stylesheet" href="{{ url_for("static", filename="css/base.css") }}">
	<link href='http://fonts.googleapis.com/css?family=Acme' rel='stylesheet' type='text/css'>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', '']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	{% endblock %}
</head>
<body>
	<div id="curtain">
		<div id="curtain-img">
			<img src="{{ url_for("static", filename="img/loader.png") }}" />
		</div>
	</div>
	<script src="{{ url_for("static", filename="js/environment.js") }}"></script>
	<script src="{{ url_for("static", filename="js/bootstrap.min.js") }}"></script>
	<script>
		window.clientSession = {{ user_session|safe }};
		require.config({
			baseUrl: '/static/js',

			packages: [
				{
					name: 'app',
				},
				{
					name: 'template',
					main: '',
					location: '../template'
				},
				{
					name: 'model',
					main: '',
					location: 'app/model'
				}
			]
		});
		require(['app']);
	</script>
</body>
</html>
